<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <style>
        body {
            background-color: #dcdde1;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            color: black;
            font-size: 20px;          
        }

        a:hover {
            color:#00a8ff;
        }

        #generate_array, #speed_level {
            width: 300px;
        }

        span {
            color: black;
            font-size: 17px;
        }

        #div_array {
            margin-left: 15px;
            margin-right: 30px;
        }

    </style>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a id="insertion_sort" class="nav-link">Insertion Sort</a>
        </li>
        <li class="nav-item">
            <a id="bubble_sort" class="nav-link">Bubble Sort</a>
        </li>
        <li class="nav-item">
            <a id="odd_even_sort" class="nav-link">Odd Even Sort</a>
        </li>
    </ul><br>
    <div class="d-flex flex-row mb-3">
        <div id="div_array" class="d-flex flex-column">
            <span id="value_array">Array size:</span>
            <input type="range" class="form-range" min="10" max="45" id="generate_array">  
        </div>
        <div id="div_speed" class="d-flex flex-column">
            <span id="value_speed">Speed:</span>
            <input type="range" class="form-range" min="1" max="3" step="1" id="speed_level">              
        </div>
    </div>  
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.3.0/lib/p5.js"></script>
<script>
    const timer = ms => new Promise(res => setTimeout(res, ms))
    let array = [];
    let speed = '2';

    // INTIAL SPEED LEVEL
    let span_speed = document.getElementById("value_speed");
    span_speed.innerHTML = "Speed: Average";


    function setup() {
        createCanvas(windowWidth, windowHeight * 0.84);
        fill(0);
        background('#dcdde1');
        noStroke();
    }

    let insertion_sort_button = document.getElementById("insertion_sort");
    let bubble_sort_button = document.getElementById("bubble_sort");
    let odd_even_sort_button = document.getElementById("odd_even_sort");
    let generate_array_slider = document.getElementById("generate_array");
    let speed_level_slider = document.getElementById("speed_level");

    // SPEED LEVEL //
    speed_level_slider.oninput = function() {
        let span_array = document.getElementById("value_speed");
        let speed_name = '';

        if (this.value === '1')
        {
            speed_name = 'Fast';
        } else if (this.value === '2')
        {
            speed_name = 'Average';
        } else {
            speed_name = 'Slow';
        }

        span_array.innerHTML = "Speed: " + speed_name;
        speed = this.value;
    };

    // GENERATE ARRAY //
    generate_array_slider.oninput = function() {
        let span_array = document.getElementById("value_array");
        span_array.innerHTML = "Array size: " + this.value;
        $.ajax(
        {
            method: "POST",
            url: "{% url 'generate_array' %}",
            data:
            {
                size: this.value,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: async function(json_array)
            {
                await timer(50);
                clear();
                fill(0);
                const data = JSON.parse(json_array);
                array = data;
                for(let i=0; i < data.length; i++)
                {                        
                    rect(i * 40 + 80, 20, 20, data[i] * 17);                  
                }
            }
         })
    };

    // INSERTION SORT //
    insertion_sort_button.onclick = function() {
        /* SPEED LEVELS
            1. 100
            2. 200
            3. 400
        */
        let speed_to_timer = 0;
        if (speed === '1')
        {
            speed_to_timer = 100;
        }
        else if (speed === '2')
        {
            speed_to_timer = 200;
        }
        else 
        {
            speed_to_timer = 350;
        }

        $.ajax(
        {
            method: "POST",
            url: "{% url 'insertion_sort' %}",
            data:
            {
                array: array,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: async function(json_array)
            {  
                let count = 0;
                let c = color('hsb(160, 100%, 50%)'); 
                const data = JSON.parse(json_array);
                for (let i=0; i < data.length; i++)
                {
                    clear();
                    let exists = false;
                    for(let j=0; j < data[i].length; j++)
                    {                        
                        if (data[i][j] > data[i][j+1] && exists === false)
                        {
                            fill(c);
                            exists = true;
                        }
                        else
                        {
                            fill(0);
                        }
                        rect(j * 40 + 80, 20, 20, data[i][j] * 17);                  
                    }
                    count += 1;
                    await timer(speed_to_timer);
                }  
                if (count > 0)
                {
                    for (let k=0; k < data[count-1].length; k++)
                    {   
                        fill(c);
                        rect(k * 40 + 80, 20, 20, data[count-1][k] * 17);
                        await timer(20);
                    }
                }
            }
         })
    };

    // BUBBLE SORT //
    bubble_sort_button.onclick = function() {
        /* SPEED LEVELS
            1. 30
            2. 50
            3. 70
        */
        let speed_to_timer = 0;

        if (speed === '1')
        {
            speed_to_timer = 30;
        }
        else if (speed === '2')
        {
            speed_to_timer = 50;
        }
        else 
        {
            speed_to_timer = 70;
        }

        $.ajax(
        {
            method: "POST",
            url: "{% url 'bubble_sort' %}",
            data:
            {
                array: array,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: async function(json_array)
            {  
                let count = 0;
                let c = color('hsb(160, 100%, 50%)'); 
                const data = JSON.parse(json_array);
                for (let i=0; i < data.length; i++)
                {
                    clear();
                    let exists = false;
                    for(let j=0; j < data[i].length; j++)
                    {
                        let maxValue = 0;
                        try {                           
                            if (data[i][j] === data[i+1][j+1])
                            {
                                maxValue = data[i][j];
                            }
                        }                 
                        catch {
                        }

                        if (data[i][j] === maxValue && exists === false)
                        {
                            fill(c);
                            exists = true;
                        }
                        else
                        {
                            fill(0);
                        }
                        rect(j * 40 + 80, 20, 20, data[i][j] * 18);                  
                    }
                    count += 1;
                    await timer(speed_to_timer);
                }  

                if (count > 0)
                {
                    for (let k=0; k < data[count-1].length; k++)
                    {   
                        fill(c);
                        rect(k * 40 + 80, 20, 20, data[count-1][k] * 18);
                        await timer(20);
                    }
                }
            }
         })
    };

    // ODD EVEN SORT //
    odd_even_sort_button.onclick = function() {
        /* SPEED LEVELS
            1. 30
            2. 50
            3. 70
        */
        let speed_to_timer = 0;

        if (speed === '1')
        {
            speed_to_timer = 50;
        }
        else if (speed === '2')
        {
            speed_to_timer = 75;
        }
        else 
        {
            speed_to_timer = 100;
        }

        $.ajax(
        {
            method: "POST",
            url: "{% url 'odd_even_sort' %}",
            data:
            {
                array: array,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: async function(json_array)
            {  
                let count = 0;
                let c = color('hsb(160, 100%, 50%)'); 
                const data = JSON.parse(json_array);
                for (let i=0; i < data.length; i++)
                {
                    clear();
                    let exists = false;
                    for(let j=0; j < data[i].length; j++)
                    {
                        let maxValue = 0;
                        try {                           
                            if (data[i][j] === data[i+1][j+1])
                            {
                                maxValue = data[i][j];
                            }
                        }                 
                        catch {
                        }

                        if (data[i][j] === maxValue && exists === false)
                        {
                            fill(c);
                        }
                        else
                        {
                            fill(0);
                        }
                        rect(j * 40 + 80, 20, 20, data[i][j] * 18);                  
                    }
                    count += 1;
                    await timer(speed_to_timer);
                }  

                if (count > 0)
                {
                    for (let k=0; k < data[count-1].length; k++)
                    {   
                        fill(c);
                        rect(k * 40 + 80, 20, 20, data[count-1][k] * 18);
                        await timer(20);
                    }
                }
            }
         })
    };



</script>